<section id="synopsis" class="grid-container">
  <div class="header">
    <h2>What I Do</h2>
    <span class="divider"></span>
  </div>
  <div class="card card1">
    <div class="flex-container">
      <span class="fa fa-desktop"></span>
      <h3>DESKTOP DEVELOPMENT</h3>
    </div>
    <p>
      Utilizing technologies such as WPF, WCF, Windows services, C++/CLI, etc. I push my self to create intuitive, well designed
      and scalable applications to meet any of your business needs.
    </p>
  </div>
  <div class="card card2">
      <div class="flex-container">
      <span class="fa fa-code"></span>
      <h3>WEB DEVELOPMENT</h3>
    </div>
    <p>
      Employing HTML, CSS, Javascript and Angular, I strive to create a beautiful, functional and robust user experience. I take
      pride in implementing responsive and aesthetically pleasing interfaces for websites and applications that adapt to any type
      of device, platform or browser.
    </p>
  </div>
  <div class="card card3">
      <div class="flex-container">
      <span class="fa fa-pencil"></span>
      <h3>DESIGN</h3>
    </div>
    <p>
      Although not formally trained as a designer, I take satisfaction in creating well thought out, eye catching designs using
      both Photoshop and Illustrator.
    </p>
  </div>
  <div class="card card4">
      <div class="flex-container">
      <span class="fa fa-mortar-board"></span>
      <h3>LEARN</h3>
    </div>
    <p>
      Learning and improving both professionally and personally is what really drives me. I love taking a deep dive into new tech;
      looking behind the curtains to truly understand how something works.
    </p>
  </div>
</section>
