h2 {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #eaf0f2;
}

p {
    color: #eaf0f2;
    font-family: "adobe-text-pro", serif;
    font-size: 1.2em;
    line-height: 1.5em;
    max-width: 50vw;
}

.line {
    height: 40vh;
    width: 3px;
    background: rgba(234, 240, 242, 0.3);
    margin: 0 2em 0 2em;

}

.flex-container {
    display: flex;
    background-color: #262626;
    flex-direction: column;
    padding: 4em;
}

.flex {
    display: flex;
    align-items: flex-start;
}

.flex img {
    width: 50vw;
    height: 40vh;
}

.divider {
    display: block;
    background-color: #ee5450;
    margin: 20px 0;
    height: 3px;
    width: 100px;
}

@media screen and (max-width: 768px) {
   .flex-container {
        padding: 2em;
   }
    .flex {
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .flex img {
       width: 100vw;
       padding: 2em;
   }

   p {
       text-align: center;
       max-width: 100vw;
   }

   .line {
       display: none;
   }
}

