<section id="skills" class="flex-container">
  <div class="header">
    <h2>Skills</h2>
    <span class="divider"></span>
  </div>
  <div class="flex">
    <div>
      <p>This small graph shows some of my current skills. This list is always growing and changing as I progress as a software
        developer.
      </p>
      <p>
        My passion for software always pushes me to learn new skills and to hone my current skill set. I’m most at home when developing
        software with C# (.NET).
      </p>
    </div>
    <div class="line"></div>
    <img src="../../assets/images/SkillsGraph.svg" alt="LOGO">
  </div>
</section>
