<div id="bio" class="flex-container">
  <article>
    <h3>
      Hello, I'm Warren.
    </h3>
    <span class="divider"></span>
    <p>
      <b>Highly motivated and detail oriented, with a passion for learning and growing as a software developer.</b>
    </p>
    <p>
      Developing software professionally since 2013, I’ve always been driven by creating beautiful, intuitive and reliable software.
    </p>
    <br/>
    <p>
      With a love for learning new and better ways to create seamless user experiences with clean, efficient and scalable code.
      I consider work an ongoing education and I'm always looking for opportunities to work with those who are willing to
      share their knowledge as much as I want to learn.
    </p>
    <br/>
    <p>When not banging away on a key board I enjoy playing the drums, hiking or building personal computers.</p>
  </article>
  <img src="../../assets/images/Portrait.png" alt="Portrait">
</div>
